.contribution-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contribution-header {
    background-color: #f886af;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 75px;
    border-radius: 50%;
}

.contribution-followup-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contribution-followup {
    background-color: #f886af;
    width: 500px;
    height: 100px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

.donation-options {
    position: relative;
    width: 100vw;
    height: 1400px;
}

.donation-option-left-1, .donation-option-left-2, .donation-option-right {
    width: 1500px;
    height: 400px;
    border-radius: 100%;
    position: absolute;
    background-color: #f886af;
}

.donation-option-left-1, .donation-option-left-2 {
    left: -50vw;
    transform: translateX(20vw);
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10vw;
}

.donation-option-left-2 {
    top: 900px;
}

.donation-option-right {
    right: -50vw;
    transform: translateX(-20vw);
    top: 450px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10vw;
    
}