.main-nav {
    width: 100vw;
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
    max-width: 20vw;
    height: full;
    margin-left: 20px;
}

.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 30px;
    align-items: center;
    margin-right: 30px;
    height: 100%;
}

.nav > * {
    font-size: 24px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    background: linear-gradient(currentColor 0 0) bottom / var(--d, 0) 2.4px
        no-repeat;
    transition: 0.5s;
}

.nav > *:hover {
    --d: 100%;
}
